.list__card .card {
  // width: 329px;
  // height: 335px;
  border: 1px solid var(--color-senary);
  /* border: 1px solid #000; */
  border-radius: 20px;
  padding: 20px 20px 0px 20px;
}

.list__card .card__header {
  // position: relative;
  height: 100%;
}

.price__tag {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 77px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
}

.price__tag span {
  font-size: 14px;
  font-weight: 600;
}
.card__header--images {
  display: flex;
  gap: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.list__card .card__header--image {
  width: 156px;
  height: 156px;
  border-radius: 10px;
}

.card__header--image-1 {
  background-image: url("/public/images/17.png");
}
.card__header--image-2 {
  background-image: url("/public/images/17.png");
}
.card__header--image-3 {
  background-image: url("/public/images/17.png");
}

.list__card .user__info {
  position: relative;
  left: 10px;
  top: 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.list__card .user__name {
  font-weight: 600;
  margin-top: 7px;
  font-size: 18px;
  margin-bottom: 0px;
}

.list__card .hourly__rate {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 5px 0;
  span {
    font-size: 12px;
  }
}

.list__card .user__image {
  background-color: #edf0f3;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-image: url("/public/images/man.png");
  background-position: center;
  border: 4px solid #fff;
  position: relative;
}

.list__card .user__icon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 39px;
  left: 43px;
}

.user__image img {
  width: 100%;
}

/* card body css */
.list__card .card__body {
  margin-top: 0px;
}

.list__card .card__body--description {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--font-color);

  text-align: start;
}

.list__card .card__body--boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

.box {
  border: 1px solid #edf0f3;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cylinder--box--1,
.cylinder--box--2 {
  width: 95px;
  height: 42px;
}

.round--box {
  padding: 10px 20px;
}

.card__footer {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
}

.list__card .card__footer--left a,
.list__card .card__footer--right .rating__number {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.list__card .card__footer--right {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.list__card .card__footer--left .comments,
.list__card .card__footer--right .rating__text {
  color: var(--font-color);

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
