:root {
  --font-color: #333;
  --background-color: #ffff;
  --link-color: cornflowerblue;
  --color-blue: #8077f6;
  --banner-color: #fbfbfc;
  --text-color: rgba(93, 105, 116, 1);
  --color-senary: #edf0f3;
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #090b0c;
  --link-color: rgb(10, 14, 15);
  --color-blue: #8077f6;
  --banner-color: #0d1013;

  --text-color: rgba(93, 105, 116, 1);
  --color-senary: #121619;
}

html {
  // font-family: "Roboto", sans-serif;
  font-family: "Axiforma", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--link-color);
}
