:root {
  --font-color: #333;
  --background-color: #ffff;
  --link-color: cornflowerblue;
  --color-blue: #8077f6;
  --banner-color: #fbfbfc;
  --text-color: rgba(93, 105, 116, 1);
  --color-senary: #edf0f3;
}

[data-theme=dark] {
  --font-color: #eee;
  --background-color: #090b0c;
  --link-color: rgb(10, 14, 15);
  --color-blue: #8077f6;
  --banner-color: #0d1013;
  --text-color: rgba(93, 105, 116, 1);
  --color-senary: #121619;
}

html {
  font-family: "Axiforma", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--link-color);
}

.container {
  padding: 1rem 2rem;
}

.simple-flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar__container {
  padding: 1rem 2rem;
}
.navbar__container--list {
  display: flex;
  align-items: flex-end;
}
.navbar__container--search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  position: relative;
  margin-top: 8px;
  width: 100%;
  height: 10px;
}
.navbar__container--search input {
  /* Auto layout */
  position: relative;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  width: 100%;
  height: 10px;
  /* Background/Light/Septenary */
  background: var(--banner-color);
  border-radius: 8px;
}
.navbar__container--search svg {
  position: absolute;
  left: 6.2%;
  right: 12.5%;
  bottom: 25.5%;
  margin-right: 30px;
  /* Background/Light/Primary */
}
.navbar__container--options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__container--options ul {
  list-style: none;
  border: none;
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar__container--options ul li {
  list-style: none;
  border: none;
  display: flex;
  align-items: center;
  outline: none;
  margin: 0 15px;
}
.navbar__container--options ul li svg {
  margin-right: 4px;
  font-size: 20px;
}
.navbar__container--options ul li a {
  color: var(--font-color);
  text-decoration: none;
  margin-bottom: -5px;
  font-size: 14px;
}
.navbar__container--info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__container--info ul {
  list-style: none;
  border: none;
  display: flex;
  align-items: flex-start;
  list-style: none;
}
.navbar__container--info ul li {
  list-style: none;
  border: none;
  display: flex;
  align-items: center;
  outline: none;
  margin: 0 10px;
}
.navbar__container--info ul li span {
  margin-right: 5px;
  font-size: 15px;
}
.navbar__container--info ul li svg {
  margin-right: 4px;
  font-size: 20px;
}
.navbar__container--info ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
  margin: 0 4px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 30px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: -20%;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 10px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 10px;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hero__section--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 207px;
  /* Background/Light/Septenary */
  background: var(--banner-color);
  border-radius: 20px;
}
.hero__section--buttons ul {
  list-style: none;
  display: flex;
}
.hero__section--buttons ul li {
  margin: 0 7px;
}
.hero__section--buttons ul li button {
  background-color: #fff;
  color: var(--text-color);
  width: 62px;
  height: 38px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.hero__section--buttons button.active {
  background-color: var(--color-blue);
  color: #fff;
}

.card {
  border: 1px solid var(--color-senary);
  /* border: 1px solid #000; */
  border-radius: 20px;
  padding: 20px;
}

.card__header {
  position: relative;
}

.price__tag {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 77px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
}

.price__tag span {
  font-size: 14px;
  font-weight: 600;
}

.card__header--images {
  display: flex;
  gap: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card__header--image {
  width: 94px;
  height: 94px;
  border-radius: 10px;
}

.card__header--image-1 {
  background-image: url("/public/images/17.png");
}

.card__header--image-2 {
  background-image: url("/public/images/17.png");
}

.card__header--image-3 {
  background-image: url("/public/images/17.png");
}

.user__info {
  position: absolute;
  left: 85px;
  top: 67px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user__name {
  font-weight: 600;
  font-size: 14px;
  margin-top: 60px;
}

.user__image {
  background-color: #edf0f3;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-image: url("/public/images/man.png");
  background-position: center;
  border: 4px solid #fff;
}

.user__icon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 40px;
  left: 62px;
}

.user__image img {
  width: 100%;
}

/* card body css */
.card__body {
  margin-top: 50px;
}

.card__body--description {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #5d6974;
}

.card__body--boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.box {
  border: 1px solid #edf0f3;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cylinder--box--1,
.cylinder--box--2 {
  width: 95px;
  height: 42px;
}

.round--box {
  padding: 10px 20px;
}

.card__footer {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
}

.card__footer--left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.card__footer--left svg {
  margin-bottom: -3px;
  font-size: 17px;
}

.card__footer--left a,
.card__footer--right .rating__number {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
  font-weight: 800;
  font-size: 12px;
}

.card__footer--right {
  display: flex;
  gap: 5px;
}

.card__footer--left .comments,
.card__footer--right .rating__text {
  color: var(--font-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.list__card .card {
  border: 1px solid var(--color-senary);
  /* border: 1px solid #000; */
  border-radius: 20px;
  padding: 20px 20px 0px 20px;
}

.list__card .card__header {
  height: 100%;
}

.price__tag {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 77px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
}

.price__tag span {
  font-size: 14px;
  font-weight: 600;
}

.card__header--images {
  display: flex;
  gap: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.list__card .card__header--image {
  width: 156px;
  height: 156px;
  border-radius: 10px;
}

.card__header--image-1 {
  background-image: url("/public/images/17.png");
}

.card__header--image-2 {
  background-image: url("/public/images/17.png");
}

.card__header--image-3 {
  background-image: url("/public/images/17.png");
}

.list__card .user__info {
  position: relative;
  left: 10px;
  top: 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.list__card .user__name {
  font-weight: 600;
  margin-top: 7px;
  font-size: 18px;
  margin-bottom: 0px;
}

.list__card .hourly__rate {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 5px 0;
}
.list__card .hourly__rate span {
  font-size: 12px;
}

.list__card .user__image {
  background-color: #edf0f3;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-image: url("/public/images/man.png");
  background-position: center;
  border: 4px solid #fff;
  position: relative;
}

.list__card .user__icon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 39px;
  left: 43px;
}

.user__image img {
  width: 100%;
}

/* card body css */
.list__card .card__body {
  margin-top: 0px;
}

.list__card .card__body--description {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--font-color);
  text-align: start;
}

.list__card .card__body--boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

.box {
  border: 1px solid #edf0f3;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cylinder--box--1,
.cylinder--box--2 {
  width: 95px;
  height: 42px;
}

.round--box {
  padding: 10px 20px;
}

.card__footer {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
}

.list__card .card__footer--left a,
.list__card .card__footer--right .rating__number {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.list__card .card__footer--right {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.list__card .card__footer--left .comments,
.list__card .card__footer--right .rating__text {
  color: var(--font-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.show__talent--title p {
  font-size: 13px;
}
.show__talent--title h3 {
  margin-right: 20px;
}
.show__talent--filter {
  margin-left: 10px;
}
.show__talent--filter button {
  background-color: var(--banner-color);
  color: var(--font-color);
  width: 50px;
  height: 47px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.show__talent--filter button svg {
  font-size: 20px;
}
.show__talent--options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--banner-color);
  border-radius: 13px;
  height: 50px;
}
.show__talent--options ul {
  list-style: none;
  display: flex;
}
.show__talent--options ul li {
  margin: 0 7px;
}
.show__talent--options ul li button {
  background-color: var(--banner-color);
  color: var(--text-color);
  width: 100px;
  height: 38px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show__talent--options ul li button svg {
  font-size: 20px;
}

.show__talent--options button.active {
  background-color: var(--background-color);
}

.show__talent--filter button.active {
  background-color: var(--color-blue);
  color: #fff;
}

.search__section--right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search__section--toggles {
  display: flex;
}
.search__section--toggle {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  margin-left: 10px;
  padding: 1px 13px;
  border-radius: 12px;
  border: 1px solid var(--color-senary);
}
.search__section--toggle p {
  margin: 0;
  font-size: 14px;
  color: var(--font-color);
}
.search__section--dropdown {
  margin-right: 10px;
  border: 1px solid var(--color-senary);
  padding: 8px 10px;
  display: flex;
  border-radius: 12px;
}
.search__section--dropdown button {
  background-color: transparent;
  border: none;
  color: var(--font-color);
}
.search__section--dropdown label {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: var(--font-color);
  margin-right: 5px;
}
.search__section--dropdown label svg {
  font-size: 16px;
  margin-right: 5px;
  color: var(--font-color);
}
.search__section--dropdown select {
  background-color: var(--background-color);
  border: none;
  color: var(--font-color);
}
.search__section--dropdown select option {
  color: var(--font-color);
}
.search__section--dropdown select :active {
  border: none;
}
.search__section--dropdown select :focus {
  border: none;
}

/*# sourceMappingURL=globals.css.map */
