.container {
  padding: 1rem 2rem;
  // @include respond(tab-port) {
  //   padding: 4rem;
  // }
  // @include respond(phone) {
  //   padding: 3rem 2rem;
  // }
}

.simple-flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
